{% extends 'base/base.html' %}

{% block title %}Aluno{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Detalhes do Aluno</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informações do Aluno</h6>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-3 text-center">
                        <img src="{{ aluno.foto.url }}" class="img-fluid rounded mb-3" alt="Foto do Aluno" style="max-width: 180px;">
                </div>
                <div class="col-md-9">
                    <p><strong>Nome:</strong> {{ aluno.nome }}</p>
                    <p><strong>CPF:</strong> {{ aluno.cpf }}</p>
                    <p><strong>Data de Nascimento:</strong> {{ aluno.data_nascimento }}</p>
                    <p><strong>Curso:</strong> {{ aluno.curso.nome }}</p>
                    <p><strong>Status:</strong> {{ aluno.status }}</p>
                    <p><strong>Situação:</strong> {{ aluno.get_situacao_display }}</p>
                    <p><strong>Forma de Ingresso:</strong> {{ aluno.get_ingresso_display }}</p>
                    <p><strong>Matrícula:</strong> {{ aluno.matricula }}</p>
                </div>
            </div>
            <div class="text-right">
                <a href="{% url 'aluno_editar' aluno.pk %}" class="btn btn-primary mt-3">Editar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
