{% extends 'base/base.html' %}

{% block title %}Lista de campi{% endblock %}


{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Campi Disponíveis</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Campi</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Campus</th>
                            <th>Alunos</th>
                            <th>Cursos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campus in campus_list %}
                        <tr>
                            <td>{{ campus.nome }}</td>
                            <td>
                                <a href="{% url 'lista_alunos_campus' campus.id %}">
                                    {{ campus.alunos_count }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'lista_cursos_campus' campus.id %}">
                                    {{ campus.cursos_count }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
