{% extends 'base/base.html' %}

{% block title %}Formas de ingresso{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="mb-3">
        <label for="graphTypeSelect">Tipo de Gráfico:</label>
        <select id="graphTypeSelect" class="form-control">
            <option value="bar">Barra</option>
            <option value="pie">Pizza</option>
        </select>
    </div>

    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="formasIngressoChart"></canvas>
    </div>
    <div id="chartDetailsIngresso" class="mt-3"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const dadosGrafico = {{ dados_grafico | safe }};
    const graphTypeSelect = document.getElementById('graphTypeSelect');
    const ctx = document.getElementById('formasIngressoChart').getContext('2d');
    let myChart = createChart(dadosGrafico, graphTypeSelect.value);

    graphTypeSelect.addEventListener('change', function() {
        myChart.destroy();
        myChart = createChart(dadosGrafico, graphTypeSelect.value);
    });

    function createChart(data, chartType) {
        const formasNomes = data.map(item => item.ingresso);
        const formasTotais = data.map(item => item.total);

        const detailsElement = document.getElementById('chartDetailsIngresso');
        detailsElement.innerHTML = `Total de formas de ingresso: ${formasNomes.length}<br>Total de alunos: ${formasTotais.reduce((sum, current) => sum + current, 0)}`;

        return new Chart(ctx, {
            type: chartType,
            data: {
                labels: formasNomes,
                datasets: [{
                    label: 'Formas de Ingresso dos Alunos',
                    data: formasTotais,
                    backgroundColor: formasNomes.map((_, i) => `rgba(${i * 50 % 255}, ${i * 80 % 255}, ${i * 110 % 255}, 0.5)`),
                    borderColor: formasNomes.map((_, i) => `rgba(${i * 50 % 255}, ${i * 80 % 255}, ${i * 110 % 255}, 1)`),
                    borderWidth: 1
                }]
            },
            options: {
                scales: chartType === 'bar' ? { y: { beginAtZero: true } } : {},
                responsive: true,
                maintainAspectRatio: false
            }
        });
    }
});
</script>
{% endblock %}
